{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

<div class="col-sm-12 col-xl-10">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Listado de Categorias</h6>
        <div class="table table-bordered">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categorias %}
                    <tr>
                        <td>{{ category.categoria_id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.tipo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock contenido %}

